<div class = "row">
    <ul class = "list-group">
        <li class ="list-group-item">
            <a href="/recipe/APIRecipeList">Recipes</a>
            </li>
        <li class ="list-group-item">
            <a href="/recipe/APICuisineTypeList">Cuisine Types</a>
            </li>
    </ul>
</div>
